
/* Oversigten af hvor meget de forskellige .col fylder på siden. */
@for $i from 1 through 12 {   
    .col-#{$i} {
        width: 100%/12 * $i;
    }
}

/* Den primære baggrundsfarve for hjemmesiden og undersiderne */
body{
    background-color: #f5f5f5;
}

/* Den primære baggrundsfarve for headeren
*/
.navbar{
    background-color: #f5f5f5;
    
}

/* Ændringen af fareven på teksten i navbaren. */
.nav-link{
    color: black;
}



.hero-1{
    display: flex;
    max-height: 250px;
}

.row{
    padding: 20px;
    display: flex;
}
.tekst{
    background-color: blue;
   /*  width: 674px;
    height: 757px; */

}

.img{
    background-color: red;
    /* width: 674px;
    height: 757px; */
}

.logo-li{
    height: 20px;
    width: 40px;
}

.weekdays{
    display: flex;
}

.footer{
    background-color: rgb(195, 245, 195);
    p{
        font-size: small;
        margin: 0%;
    }
}

.footer-icons {
    width: 135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}