
/* Scss til at lave .col-# */
@for $i from 1 through 12 {   /* Lave .col */
    .col-#{$i} {
        width: 100%/12 * $i;
    }
}

/* Denne del gør websiden egenet til at kunne bruges til forskellige enheder */
@for $i from 1 through 12 {   /* Medium .col */
    @media screen and (min-width: 768px) {
        .col-md-#{$i} {
            width: 100%/12 * $i;
        }
    }
}

/* Kode til at ændre farve og form på menu */
.navbar {
    background-color: #000000;
    border-radius: 0px;
}

.body{
    background-color: red;
}