
@for $i from 1 through 12 {   /* Lave .col */
    .col-#{$i} {
        width: 100%/12 * $i;
    }
}

body{
    background-color:#ffffff;
    
}

.row{
    display: flex;
    align-content: center;
}

.logo.trapholt-logo{
    width: 20 px;
height: 200;
}