body {
    background-color: #dbdbdb; 
}

header {
display: flex;
align-items: center;
justify-content: center;
margin-top: 0;
background-color: #ffffff;

        }
.logo-image {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 14px;
}

.carousel {
    max-height: 20% !important;
}

.btn-custom {
    background-color: #161615;
    color: rgb(255, 255, 255);
}

a {
    color: white;
}

.text {
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
}

h2 {
    margin-bottom: 40px;
    border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    max-height: 75%; 
}

.image-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    height: 50vh; 
    overflow-x: auto; 
}


#Kontakt {
    margin-left: -15px;
    padding-left: 0px;
    margin-top: 60px;
    width: calc(100% + 30px);
    background-color: #161615;

}

@media only screen and (max-width: 375px) {
    #about {
        max-width:60%;
       max-height:30vh;
       font-size:11px !important;
    }
    .hero-img-text {
        display: flex;
         justify-content: flex-end;
     }
     
     
     .hero-img {
         background: url('../../img/Bg_billede_øverst.jpeg')no-repeat center center; 
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         height: 400px;
     }

     .text {
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 12px !important;
    }
    
    .h2 {
        margin-bottom: 5px;
        border-radius: 5px;
        font-size: 20px !important;
    }

    .P {
        font-size: 12px !important; 
    }


  }